STUDENT_NAME="Lê Thành Vũ"
STUDENT_ID=23IT316
MONGO_URI_READ=mongodb+srv://23IT316_reader:<PASSWORD_READER>@cluster0.xxxxx.mongodb.net/DB_23IT316?authSource=admin
MONGO_URI_WRITE=mongodb+srv://23IT316_writer:<PASSWORD_WRITER>@cluster0.xxxxx.mongodb.net/DB_23IT316?authSource=admin
SESSION_URI=mongodb+srv://23IT316_session:<PASSWORD_SESSION>@cluster0.xxxxx.mongodb.net/DB_23IT316?authSource=admin
SESSION_SECRET=
PORT=3000
NODE_ENV=development
